<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">BIO</h2>
                <hr class="light">
                <p></p>
                <img align="left" src="img/HKU.jpg" hspace="20"  width="350" height="350" >
                <p class="text-faded">
                    Welcome! I am a Postdoctoral Prize Research Fellow in Politics at <a href="https://www.nuffield.ox.ac.uk/">Nuffield College, University of Oxford</a>, and an Associate at 
                    <a href="https://www.chinacentre.ox.ac.uk/">University of Oxford China Centre</a>.
                    Starting Fall 2025, I will be joining <a href="https://polisci.emory.edu/home/">the Department of Political Science at Emory University</a> as an Assistant Professor.</p>
                <p class="text-faded">
                    I study authoritarian politics, political communication, public opinion, and political methodology, with regional expertise in China and Southeast Asia.
                    Specifically, my research investigates how authoritarian regimes operate censorship and propaganda to manipulate domestic and international information environment,
                    while avoiding public backlash against these apparatuses. 
                    Apart from my main research agenda on authoritarian politics and political communication, 
                    I am also interested in understanding prejudice toward LGBTQ individuals and the consequences of their increasing visibility and political representation.
                    Methodologically, I adopt a multi-method approach, including computational methods (text-as-data and audio-as-data), survey experiments, design-based causal inference,
                    and qualitative fieldwork. My work has been published or is forthcoming in the <i>Journal of Politics</i>, <i>International Organization</i>, and <i>Comparative Political Studies</i>.</p>
                <p class="text-faded">In 2024, I earned my Ph.D. in Political Science at <a href="https://polisci.wustl.edu/">Washington University in St. Louis</a>.
                    In 2018, I received an LL.B. degree in Law from <a href="http://www.law.ruc.edu.cn/home/eng/">Renmin University of China</a>.</p>
            </div>
        </div>
    </div>
</section>
