<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">BIO</h2>
                <hr class="light">
                <p></p>
                <img align="left" src="img/Yang.JPG" hspace="20"  width="348" height="348" >
                <p class="text-faded">I am a Ph.D. candidate in Political Science at <a href="https://polisci.wustl.edu/">Washington University in St. Louis</a>. 
                    I study authoritarian politics, political communication, and public opinion with a regional focus on China. 
                    Methodologically, I use a wide range of research methods, including formal modeling, randomized experiments, statistical inference, and computational methods (text-as-data and audio-as-data). 
                    I have regional expertise in China and Southeast Asia.</p>
                <p class="text-faded">My dissertation, <i>Normalization: Understanding Government Censorship and Public Opinion in Authoritarian Regimes</i>, 
                    is motivated by an autocrat’s dilemma: the repressive apparatus (such as censorship) needed to maintain social stability, can also generate a public backlash against the regime. 
                    To uncover how autocrats navigate this dilemma, my dissertation focuses on the censorship apparatus in China and develops a novel theory of normalization. 
                    My core argument is that authoritarian regimes manage to change public perception of censorship such that the public does not view it as political repression but rather as a normal part of governance.
                    I explain how the Chinese regime normalizes the operation of censorship and avoids public backlash by systematically censoring non-political content, encouraging public participation in censorship, and selectively allowing public discourse on democracies.
                    Apart from my dissertation research on censorship, most of my collaborative work follows this research agenda, analyzing authoritarian propaganda, public support for using military force in China and applying cutting-edge audio-as-data methods to the Chinese context.</p>
                 <p class="text-faded">My job market paper has received an invitation to revise and resubmit at the <i>Journal of Politics</i> and my other work is at the same stage at <i>International Organization</i>. 
                     My dissertation has been awarded research grants from the APSA Centennial Center and the Chiang Ching-Kuo Foundation.</p>
                <p class="text-faded">In 2021, I received my A.M. degree in Political Science from Washington University in St. Louis. Prior to joining Washington University, I received an LL.B. degree in Law from Renmin University of China in 2018.</p>
            </div>
        </div>
    </div>
</section>
