<section id="services">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">RESEARCH</h2>
                <hr>
                <h3 class="section-heading">Publications</h3>
                    <p></p>
<p><b>[1] "Normalization of Censorship: Evidence from China" </b>  <i>Conditionally Accepted, The Journal of Politics</i> </p>
                   <p> <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3835217">[SSRN]</a> 
                    <a href="/img/Censorship_Appendices.pdf">[Online Appendices]</a></p>
<p> Abstract </p>
<p>
Censorship in authoritarian regimes has traditionally been understood as a repressive tool of the government and therefore unpopular among the public.
        However, surveys around the world consistently find that citizens in authoritarian regimes are apathetic toward or even supportive of government censorship.
        To explain this puzzle, I theorize that citizens are subject to a process of normalization.
        Specifically, individuals become desensitized to censorship activities when the range of censored content expands beyond politically threatening topics, like government criticism and collective action, to other seemingly harmless non-political issues.
        Using 28 million censored posts on the two largest social media platforms in China and two original survey experiments on Chinese citizens, I show that (1) a majority of censored articles are indeed unrelated to politically threatening topics, and (2) respondents exposed to the censorship of both political and non-political content report less backlash and higher support for the censorship apparatus and the regime than those exposed only to political censorship.
        These findings highlight how the normalization of repressive apparatuses such as censorship contributes to authoritarian control and survival.                   
</p>
 <p></p>
                     <p></p>
<p><b>[2]  "Russian Invasion of Ukraine and Chinese Public Support for War"  (with Deniz Aksoy and Ted Enamorado) </b> <i>Forthcoming, International Organization</i> </p>
                   <p> <a href="/img/UseForce.pdf">[Manuscript]</a> 
                    <a href="/img/UseForce_Appendix.pdf">[Online Appendices]</a></p>
<p> Abstract </p>
<p>
  This study examines how the Russian invasion of Ukraine and the subsequent Western responses influence Chinese public opinion toward the use of force.
        Using two original, pre-registered online survey experiments, first in June 2022 and then in June 2023, we show that the Russian invasion is associated with a modest but statistically significant increase in Chinese support for using military force in international affairs in general and against Taiwan in particular.
        However, information about Western military measures aiding Ukraine curbs the modest impact of the invasion. Such information is especially effective in diminishing support for an outright military invasion of Taiwan.
        Causal mediation analyses reveal that the Russian invasion influences public opinion by inducing optimistic expectations of military success and pessimistic expectations of peaceful conflict resolution.
        These findings underline the possibility that foreign military aggression and subsequent international countermeasures can be determinants of domestic public opinion toward using military force.
</p>
                    <p></p>
                     <p></p>
                    
                    <h3 class="section-heading">Working Paper</h3>
                     <p></p>

                
<p><b>[3] "Participatory Censorship in Authoritarian Regimes" </b> <i>Under Review</i> </p>
                   <p> <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4167554">[SSRN]</a> </p>
<p> Abstract </p>
<p>
Contrary to the conventional top-down view of government censorship, ordinary citizens in authoritarian regimes frequently participate in censorship by reporting online content.
        This study theorizes a bottom-up perspective of censorship in authoritarian regimes and analyzes its prevalence and consequences on public opinion toward censorship in the case of China.
        I argue that public participation increases support for censorship by diminishing the government's responsibility and strengthening citizens' perceived empowerment.
        Using an original survey in China, I show that more than half of the respondents have flagged content online and such participation is positively correlated with support for government censorship.
        I further conducted an experiment embedded in custom-engineered, simulated social media pages. Consistent with my theory, respondents that are encouraged to report simulated posts display significantly higher support for government censorship.
        My study highlights the role of ordinary citizens in facilitating authoritarian control and the normalization of repressive policies such as censorship.                    </p>
                    <p></p>
                     <p></p>


                <p><b>[4] "Doublespeak: Limits of China's Hard and Soft Propaganda during Political Crises" (with Hongshen Zhu) </b> <i>Under Review</i> </p>
                   <p> <a href="/img/COVID_Propaganda_Manucript.pdf">[Manuscript]</a> 
<p> Abstract </p>
<p>
  This research note examines authoritarian propaganda strategies' effectiveness during political crises and policy changes.
        Although extensive research showcases the efficacy of propaganda, limited attention has been given to its shortcomings.
        We posit that various propaganda strategies, including "hard" and "soft" rhetoric, have significant limitations during political crises.
        Hard propaganda's heavy-handed slogans could signal regime strength but may also legitimize "rightful resistance" against local authorities, limiting its protest-deterrence effects.
        Soft propaganda may lose persuasiveness due to presenting contradictory arguments during policy changes.
        We leverage China's COVID policy reversal and political turmoil to conduct an original, pre-registered survey experiment in December 2022.
        Our findings reveal that pro-reopening hard propaganda weakens its protest-deterrence effects by reinforcing belief in protest righteousness.
        Moreover, inconsistent soft propaganda lowers public evaluations of China's COVID response, diminishing its persuasive effects.
        Our study highlights significant limitations of authoritarian propaganda, particularly during political crises when they are most needed.</p>
                    <p></p>
                     <p></p>
                <p><b>[5] "How Chinese Censorship Allows Public Discourse on Democracies but Not Their Institutions"  </b></p>
<p> Abstract </p>
<p>
  Prior research suggests that authoritarian regimes manipulate information about liberal democracies, casting them in a negative light and blocking access to foreign websites altogether.
        I argue that authoritarian censorship strategies regarding liberal democracies are more nuanced.
        Whether the portrayal of democracies is positive or negative is not as decisive a predictor of censorship.
        Instead, authoritarian regimes allow public discourse on democracies' governance, including their achievements, while more stringently restricting conversations about democratic institutions, even when they are dysfunctional and result in gridlock.
        Using around 130,000 articles from 2018 to 2022 on China's largest social media, I show that content regarding democratic institutions, such as elections, legislature, and judiciary, is four times more likely to be censored regardless of its stance.
        Conversely, public discourse on economic performance, technological advancements, and social issues in democracies is generally tolerated.
        These findings demonstrate that the primary goal of Chinese censorship is impeding mass exposure to democratic institutions rather than merely defaming the West.</p>
                    <p></p>
                    <p></p>
<p><b>[6]  "Listen to the Party! An Audio-as-Data Approach to Emotional Propaganda in Authoritarian China" (with Haohan Chen and Yiqiang Wang) </b></p>
<p> Abstract </p>
<p>
When do authoritarian regimes intensify emotions in their propaganda?
In this study, we posit that higher emotional intensity signals the importance of propaganda messages. Specifically, when propagandists speak, their voices are a combination of manipulable and sincere emotional elements.
        Important propaganda messages are delivered with higher emotional intensity both due to deliberate attempts to arouse emotions among the public and the subconscious emotional disposition of the propagandists.
        To test which components of propaganda are intensified in emotions, we employ novel audio-as-data methods to collect and analyze three years of original audio recordings of China's flagship propaganda program.
Specifically, we generate audio-based measures: vocal pitch for emotional intensity and text transcripts for substantive propaganda content. 
We find that propaganda materials related to China's leader Xi Jinping and repressive institutions are associated with higher emotional intensity. In contrast, the regime's policy achievements and negative coverage of foreign countries are associated with lower emotional intensity.
Our study sheds light on the coercive nature of China's propaganda strategies and extends the audio-as-data method to the Chinese language and the study of authoritarian politics.
</p>
  <p></p>
                     <p></p>
                    <h3 class="section-heading">Work in Progress</h3>
                    <p></p>
                    <p><b>[7]  "Transnational Impact of Chinese Propaganda on Inter-group Relations Overseas" (with Jeremy Siow and Minh Trinh) </b></p>
                    <p><b>[8]  "Gender Identity and Reducing LGBTQ Prejudice" (with Margit Tavits) </b></p>
                    <p><b>[9]  "The American Public Penalizes LGBTQ Federal Judicial Nominees" (with Andrew Stone) </b></p>
                </div>
        </div>
    </div>
</section>
