<section id="services">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">RESEARCH</h2>
                <hr>
                <h3 class="section-heading">Publications</h3>
                    <p></p>
<p><b> Yang, Tony Zirui. "Normalization of Censorship: Evidence from China" </b>  <i>Accepted, The Journal of Politics</i>  <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3835217">[SSRN]</a> 
                    <a href="/img/Censorship_Appendices.pdf">[Online Appendices]</a></p>
<p> Abstract </p>
<p>
Censorship in authoritarian regimes has traditionally been understood as a repressive tool of the government and therefore unpopular among the public.
        However, surveys around the world consistently find that citizens in authoritarian regimes are apathetic toward or even supportive of government censorship.
        To explain this puzzle, I theorize that citizens are subject to a process of normalization.
        Specifically, individuals become desensitized to censorship activities when the range of censored content expands beyond politically threatening topics, like government criticism and collective action, to other seemingly harmless non-political issues.
        Using 28 million censored posts on the two largest social media platforms in China and two original survey experiments on Chinese citizens, I show that (1) a majority of censored articles are indeed unrelated to politically threatening topics, and (2) respondents exposed to the censorship of both political and non-political content report less backlash and higher support for the censorship apparatus and the regime than those exposed only to political censorship.
        These findings highlight how the normalization of repressive apparatuses such as censorship contributes to authoritarian control and survival.                   
</p>
 <p></p>
                     <p><b> <b>Yang, Tony Zirui. 2024 (OnlineFirst). "Participatory Censorship in Authoritarian Regimes"</b> <i>Comparative Political Studies</i>, 0(0).
        <a href="https://doi.org/10.1177/00104140241302762">[Publisher's Version]</a> 
         <a href="/img/Yang_CPS_Appendix_Final.pdf">[Online Appendices]</a></p>
                    <p> Abstract </p>
<p>
Contrary to the conventional top-down view of government censorship, this study argues that ordinary citizens in authoritarian regimes frequently participate in censorship by reporting online content.
        I hypothesize that such participation in censorship partially explains the high level of public support for censorship found in existing surveys.
        Using an original survey in China, I demonstrate that participation in censorship is indeed prevalent, with over half of the respondents self-report having previously flagged online content,
        and that such participation is positively correlated with support for the censorship apparatus. To causally test the hypothesis, I conduct a pre-registered experiment using custom-engineered,
        simulated social media pages to manipulate reporting behavior. The results show that respondents encouraged to report simulated posts display significantly higher support for the censorship apparatus.
        This study highlights the role of ordinary citizens in facilitating authoritarian control and explains why repressive apparatus like censorship can be popular with the population.           
</p>
 <p></p>
                     <p></p>
<p>  <a href="https://sites.wustl.edu/denizaksoy/" style="color: black;">Aksoy, Deniz</a>, <a href="https://www.tedenamorado.com/" style="color: black;">Ted Enamorado</a>, and <b>Tony Zirui Yang.</b> 2024. <b>"Russian Invasion of Ukraine and Chinese Public Support for War." </b>
        <i>International Organization</i> 78(2): 341–60.
        <a href="https://www.cambridge.org/core/journals/international-organization/article/russian-invasion-of-ukraine-and-chinese-public-support-for-war/2E229A23207F0E410D69989F3A40A1D0">[Publisher's Version]</a> 
         <a href="/img/UseForce_Appendix.pdf">[Online Appendices]</a></p>
<p> Abstract </p>
<p>
 This study examines how the Russian invasion of Ukraine and the subsequent Western responses influence Chinese public opinion on the use of force.
        Using two original, preregistered online survey experiments, first in June 2022 and then in June 2023,
        we show that the Russian invasion is associated with a modest but statistically significant increase in Chinese support for using military force in international affairs in general and against Taiwan in particular.
        However, information on Western military measures aiding Ukraine curbs the modest impact of the invasion.
        Such information is especially effective in reducing support for an outright military invasion of Taiwan.
        Causal mediation analyses reveal that the Russian invasion influences public opinion by inducing optimism regarding military success and pessimism regarding peaceful resolution of the conflict.
        These findings suggest that foreign military aggression and subsequent international countermeasures can sway domestic public opinion on using military force.</p>
                    <p></p>
                     <p></p>
                    
                    <h3 class="section-heading">Working Paper</h3>
                     <p></p>

                <p><b> Yang, Tony Zirui,</b> and <a href="https://hongshenzhu.org/" style="color: black;">Hongshen Zhu</a>. <b>"Twisted Tongue: Limits of China's Propaganda during Crises and Policy Changes" </b> <i>Revise & Resubmit, Political Science Research and Methods</i> 
                <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4589500">[SSRN]</a> </p>
                                        <p>  <a href="https://www.andrewrstone.com/" style="color: black;">Stone, Andrew</a>, and <b> Tony Zirui Yang. "Ideological Cues, Partisanship, and Prejudice Against LGBTQ Judicial Nominees"</b> <i>Under Review</i> </p>
                <p><b>  Yang, Tony Zirui,</b> and <a href="https://sites.wustl.edu/mtavits/" style="color: black;">Margit Tavits</a>. <b>"Binary Gender Identity Strength Increases Prejudice toward LGBTQ Individuals" </b></p>
                <p> <a href="https://haohanchen.github.io/" style="color: black;">Chen, Haohan</a>, Yiqiang Wang, and <b> Tony Zirui Yang. "Listen to the Party! An Audio-as-Data Approach to Emotional Propaganda in Authoritarian China" </b></p>
  <p></p>
                     <p></p>
                    <h3 class="section-heading">Work in Progress</h3>
                    <p></p>
                    <p><b> Yang, Tony Zirui. "How Chinese Censorship Allows Public Discourse on Democracies but Not Their Institutions"  </b></p>
                    <p>  <a href="https://sites.google.com/view/jeremysiow" style="color: black;">Siow, Jeremy</a>, <a href="https://www.mdtrinh.com/" style="color: black;">Minh Trinh</a>, <b> Tony Zirui Yang. "Transnational Impact of Chinese Propaganda on Inter-group Relations Overseas" </b></p>
                </div>
        </div>
    </div>
</section>
