<section id="services">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">RESEARCH</h2>
                <hr>
                <h3 class="section-heading">Publications</h3>
                     <p></p>
                <p><b> Yang, Tony Zirui, and <a href="https://hongshenzhu.org/" style="color: black;">Hongshen Zhu</a>.
                        "Twisted Tongue: Limits of China's Propaganda during Crises and Policy Changes"  
                        <i>Conditionally Accepted, Political Science Research and Methods</i> 
                        <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4589500">[SSRN]</a></b> </p>
                        <p></p>
                <p><b> Yang, Tony Zirui. "Normalization of Censorship: Evidence from China"  
                        <i>Accepted, The Journal of Politics</i>  
                        <a href="https://doi.org/10.1086/734239">[Publisher's Version]</a> 
                    <a href="/img/Censorship_Appendices.pdf">[Online Appendices]</a></b> </p>
                         <p></p>
                 <p><b> <b>Yang, Tony Zirui. 2024 (OnlineFirst). "Participatory Censorship in Authoritarian Regimes"
                         <i>Comparative Political Studies</i>, 0(0).
                        <a href="https://doi.org/10.1177/00104140241302762">[Publisher's Version]</a> 
                         <a href="/img/Yang_CPS_Appendix_Final.pdf">[Online Appendices]</a></b>   </p>
                <p>  <b> <a href="https://sites.wustl.edu/denizaksoy/" style="color: black;">Aksoy, Deniz</a>, <a href="https://www.tedenamorado.com/" style="color: black;">Ted Enamorado</a>, and Tony Zirui Yang. 2024.
                        "Russian Invasion of Ukraine and Chinese Public Support for War."
                        <i>International Organization</i> 78(2): 341–60. 
                        <a href="https://doi.org/10.1017/S0020818324000043">[Publisher's Version]</a> 
                         <a href="/img/UseForce_Appendix.pdf">[Online Appendices]</a> 
                         <a href="https://notebooklm.google.com/notebook/f43909a6-0fde-4264-abfc-4024d7fd667e/audio">[AI Generated Podcast]</a> </b>  </p>
                     <p></p>
                    
                    <h3 class="section-heading">Working Paper</h3>
                     <p></p>
                    <p>  <a href="https://www.andrewrstone.com/" style="color: black;">Stone, Andrew</a>, and <b> Tony Zirui Yang. "Ideological Cues, Partisanship, and Prejudice Against LGBTQ Judges"</b> <i>Revise & Resubmit, Public Opinion Quarterly</i> </p>
                <p><b>  Yang, Tony Zirui,</b> and <a href="https://sites.wustl.edu/mtavits/" style="color: black;">Margit Tavits</a>. <b>"Binary Gender Identity Strength Increases Prejudice toward LGBTQ Individuals" </b></p>
                <p> <a href="https://haohanchen.github.io/" style="color: black;">Chen, Haohan</a>, Yiqiang Wang, and <b> Tony Zirui Yang. "Listen to the Party! An Audio-as-Data Approach to Emotional Propaganda in Authoritarian China" </b></p>
  <p></p>
                     <p></p>
                    <h3 class="section-heading">Work in Progress</h3>
                    <p></p>
                    <p><b> Yang, Tony Zirui. "How Chinese Censorship Allows Public Discourse on Democracies but Not Their Institutions"  </b></p>
                    <p>  <a href="https://sites.google.com/view/jeremysiow" style="color: black;">Siow, Jeremy</a>, <a href="https://www.mdtrinh.com/" style="color: black;">Minh Trinh</a>, <b> Tony Zirui Yang. "Transnational Impact of Chinese Propaganda on Inter-group Relations Overseas" </b></p>
                </div>
        </div>
    </div>
</section>
