<section class="bg-dark" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">TEACHING</h2>
                <hr class="light">
                <h3 class="section-heading">Guest Lecturer</h3>
                <p></p>
                <p class="text-faded">Institutions under Authoritarianism (University of Oxford), Michaelmas 2024</p> 
                <p class="text-faded">Political Power in Contemporary China (Juan Qian, Wisconsin-Madison), Spring 2023</p> 
                <p class="text-faded">Global Information Wars (Haohan Chen, HKU), Spring 2023</p> 
                <p class="text-faded">Understanding Political Protest and Violence (Sunita Parikh, WUSTL), Spring 2020</p> 
            </div>
        </div>
    </div>
</section>
