<section class="bg-dark" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">TEACHING</h2>
                <hr class="light">
                <h3 class="section-heading">Guest Lecturer</h3>
                <p></p>
                <p class="text-faded">Political Power in Contemporary China (Juan Qian, Wisconsin-Madison), Spring 2023</p> 
                <p class="text-faded">Global Information Wars (Haohan Chen, HKU), Spring 2023</p> 
                <p class="text-faded">Understanding Political Protest and Violence (Sunita Parikh, WUSTL), Spring 2020</p> 
                <h3 class="section-heading">Teaching Assistant</h3>
                <p></p>
                <p><i>Graduate Level</i></p>
                <p class="text-faded">PolSci 505 Game Theory I, PhD (Keith Schnakenberg), Fall 2020 </p>
                <p><i>Undergraduate Level</i></p>
                <p class="text-faded">PolSci 363 Quantitative Political Methodology (Ted Enamorado), Spring 2022 </p>
                <p class="text-faded">PolSci 326 Latin American Politics (Guillermo Rosas), Fall 2021</p> 
                <p class="text-faded">PolSci 106 Introduction to Political Theory (Clarissa Hayward), Spring 2021 </p> 
                <p class="text-faded">PolSci 102 Introduction to Comparative Politics (Guillermo Rosas), Spring 2020 </p> 
                <p class="text-faded">PolSci 3103 Political Psychology (Taylor Carlson), Fall 2019</p> 
            </div>
        </div>
    </div>
</section>
